<div class="panel panel-default">
  <div class="panel-heading center"><strong>List of Equipment</strong></div>
    <table class="table">
      <thead>
        <th><center>Category<br>Name</center></th>
        <th><center>Equipment<br>Type</center></th>
        <th><center>Equipment<br>Name</center></th>
        <th>
          <%if current_user.designation.name == "System Admin"%>
            <%= link_to "New Employee", new_product_path, class: "btn btn-xs btn-primary",
                  data: { confirm: "Are you sure you want to add new product?" }%>
          <%end%>
        </th>
      </thead>
      <tbody>
        <%@products.each do |prod|%>
          <tr>
            <td><center><strong><%= prod.type.category.name %></strong></center></td>
            <td><center><strong><%= prod.type.name %></strong></center></td>
            <td><center><strong><%= prod.name %></strong></center></td>
            <td>
              <%if current_user.designation.name == "System Admin"%>
                <%= link_to "Update Info", edit_product_path(prod), class: "btn btn-xs btn-primary",
                        data: { confirm: "Are you sure you want to update product's information?" }%>
              <%end%>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
</div>